html, body {
    height: 100%; /* Make the body take up the full height of the page */
    margin: 0;
}


body {
    cursor: url('../img/fireball_big.svg') 44 62, auto;
    font-family: Courier New;
    color: white;
    justify-content: center;
    background: url('../img/background_smiley.jpg') no-repeat;
    
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Adding a semi-transparent box for text */
p {
    background-color: rgba(42, 230, 255, 0.619); /*background with 50% opacity*/
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 50%; 
    margin: 30px auto; 
}

/* Increase the header size */
h1 {
    font-size: 4em; 
    color: white; 
    margin-bottom: 30px;
}

/* Universal animal image size for all image formatss */
img {
    width: 60%;  
    height: auto;
    max-width: 500px; 
    margin: 40px 0; 
}

/* Hover effect for images (for fun interaction) */
img:hover {
    opacity: 0.7; 
    transform: scale(1.15); 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
