html, body {
  height: 100%; /* Make the body take up the full height of the page */
  margin: 0;
}

body {
  cursor: url('../img/fireball_big.svg') 44 62, auto;
  font-family: Courier New;
  color: white;
  justify-content: center;
  background: url('../img/background_smiley.jpg') no-repeat;
  
  background-size: cover;
  background-position: center;
  text-align: center;
}


/* Styling for the links, particularly the button */
.link a {
  text-decoration: none; /* Remove underline */
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #97ccde; /* Blue button */
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button hover effect */
.link a:hover {
  background-color: #77a0ad; /* Darker blue */
  transform: scale(1.1); /* Slightly enlarge the button */
}

/* Adding some space between the links */
.link {
  margin: 45px;
}