html, body {
  height: 100%; /* Make the body take up the full height of the page */
  margin: 0;
}

body {
  cursor: url('../img/fireball_big.svg') 44 62, auto;
  font-family: Courier New;
  color: white;
  justify-content: center;
  background: url('../img/background_smiley.jpg') no-repeat;
  
  background-size: cover;
  background-position: center;
  text-align: center;
  img[src*="polar-bear.gif"] {
    width: 50%;
    height: auto;
}
}
